.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-icon12 {
  display: none;
}
 
.navigation-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle1 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navigation-icon21 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list1 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle2 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navigation-icon23 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list2 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle3 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow3 {
  transition: 0.3s;
}
 
.navigation-icon25 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list3 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
 
.navigation-thq-dropdown-toggle4 {
  gap: 4px;
  display: inline-flex;
  align-items: center;
}
 
.navigation-thq-dropdown-arrow4 {
  transition: 0.3s;
}
 
.navigation-icon27 {
  width: 18px;
  height: 18px;
}
 
.navigation-thq-dropdown-list4 {
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}

.hero17-wrapper {
  display: contents;
}
 
.hero17-thq-header78-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-thq-column-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-link {
  display: contents;
}
 
.hero17-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero17-thq-row-container-elm1 {
  width: 100%;
}
 
.hero17-thq-placeholder-image-elm10 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm11 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm12 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm13 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm14 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm15 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm16 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm17 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm18 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm19 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm20 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm21 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-row-container-elm2 {
  width: 100%;
}
 
.hero17-thq-placeholder-image-elm22 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm23 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm24 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm25 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm26 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm27 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm28 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm29 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm30 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm31 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm32 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm33 {
  width: 400px;
  height: 400px;
}
 
.hero17-container2 {
  display: contents;
}
 
@media(max-width: 767px) {
  .hero17-thq-content-elm {
    width: 100%;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-icon10-elm {
  width: 156px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 4px;
  vertical-align: middle;
}
 
.footer-thq-footer-nav-list-elm {
  height: 225px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}

.projects-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.projects-thq-projects-section-elm1 {
  height: 821px;
  padding-bottom: 0px;
}
 
.projects-thq-project-card-elm1 {
  text-decoration: none;
}
 
.projects-thq-project-card-elm2 {
  text-decoration: none;
}
 
.projects-thq-project-card-elm3 {
  text-decoration: none;
}
 
.projects-thq-projects-section-elm2 {
  height: 938px;
  padding-top: 42px;
  padding-bottom: 0px;
}
 
.projects-thq-art-overlay-elm1 {
  text-decoration: none;
}
 
.projects-thq-art-overlay-elm2 {
  text-decoration: none;
}
 
.projects-container2 {
  display: none;
}
 
.projects-container3 {
  display: contents;
}
